p,
.femicide,
.attempted,
th,
h4 {
    font-family: 'Rosario', sans-serif;
}


/*home*/

h1 {
    font-family: 'Rosario', sans-serif;
    font-size: 3rem;
    color: #ED1C55;
    padding: 5% 0 10%;
    font-weight: bold;
}

#section0 {
    background-color: #101010;
}

.intro {
    padding: 5%;
}

.text-home,
.autor {
    color: #fff;
}

/*button*/

.estadisticas {
    background: #F64164;
    border: none;
    color: #fff;
    padding: 5px 10px 5px 10px;
    margin-top: 10%;
}

.estadisticas:active {
    background: #ED1C55;
}

.estadisticas:focus {
    outline: 0px;
}


/*page2*/

.text-2 {
    padding: 5% 3% 3% 0;
}

.est-2 {
    padding-top: 2%;
    margin-bottom: 90px;
}


/**/

[class*="col"] {
    padding: 0;
}

.mg-0 {
    margin: 0;
}

.chichico {
    background: url(../images/chichico.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-y: 0%;
    min-height: 100%;
    height: auto;
    width: 100%;
}

.chichico a {
    color: whitesmoke;
}

.modal-open .modal {
    overflow-y: hidden;
}

.btn-default,
.btn-default:hover,
.btn-default:active {
    color: white;
    background-color: transparent;
    border-color: transparent;
}

.v-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-transparent {
    background: transparent;
}

.modal-transparent .modal-content {
    background: transparent;
    color: white;
}

.modal-backdrop.modal-backdrop-transparent {
    background: #ffffff;
}

.modal-backdrop.modal-backdrop-transparent.in {
    opacity: .3;
    ;
    filter: alpha(opacity=90);
}

a[data-toggle="modal"] {
    background: transparent;
    border: transparent;
    width: auto;
    height: auto;
}

a:active,
a:focus,
a:target,
.fa {
    border: none;
}

.close {
    opacity: .5;
    color: white;
}

.title-chart {
    font-weight: bold;
    margin-top: 20px;
}

.panel-body {
    padding-top: 0px;
}

.allh {
    height: 100%;
}

.mh,
.rh {
    height: 50%;
}

@media only screen and (max-width: 767px) {
    .title-chart {
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 0px;
    }
    .qh {
        height: 25%;
    }
    .rh {
        height: 100%;
    }
    h1 {
        padding: 0px;
        margin-bottom: 0;
    }
    .estadisticas {
        padding: 0;
        margin: 0;
    }
    .intro {
        padding: 0 0 0 3%;
    }
    .autor {
        margin-bottom: 5px;
    }

    #legend th{
        font-size: 0.75rem
    }
}

@media only screen and (min-width: 1200px) {
    .pr-100 {
        padding-right: 100px;
    }
    h1 {
        font-size: 6rem
    }
}
