body {
    overflow-x: hidden;
    padding: 0px !important;
}

p,
.femicide,
.attempted,
th,
h4 {
    font-family: 'Rosario', sans-serif;
}


/*home*/

h1 {
    font-family: 'Rosario', sans-serif;
    font-size: 3rem;
    color: #ED1C55;
    margin-bottom: 0;
    padding-bottom: 14px;
    font-weight: bold;
}

#section0 {
    background-color: #101010;
}

.intro {
    padding: 5%;
}

.text-home,
.autor {
    color: #fff;
}

#hashtag{
    color: #F64164; 
    font-size:3rem;   
}

/*button*/

.estadisticas {
    background: #F64164;
    border: none;
    color: #fff;
    padding: 5px 10px 5px 10px;
    margin-top: 21px;
}

.estadisticas:active {
    background: #ED1C55;
}

.estadisticas:focus {
    outline: 0px;
}


/*page2*/

.text-2 {
    padding: 5% 3% 3% 0;
}

.est-2 {
    padding-top: 2%;
    margin-bottom: 90px;
}


/**/

[class*="col"] {
    padding: 0;
}

.mg-0 {
    margin: 0;
}

.chichico {
    background: url(../images/chichico.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
    height: auto;
    width: 100%;
}

.chichico a {
    color: whitesmoke;
}

.modal-open .modal {
    overflow-y: visible;
}

.v-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-fullscreen {
    background: transparent;
    color: white;
}

.modal-fullscreen .modal-content {
    background: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.modal-backdrop.modal-backdrop-fullscreen {
    background: #ffffff;
}

.modal-backdrop.modal-backdrop-fullscreen.in {
    opacity: .95;
    filter: alpha(opacity=97);
}


/* .modal-fullscreen size: we use Bootstrap media query breakpoints */

.modal-fullscreen .modal-dialog {
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.modal-footer {
    border: none;
}

.foto-modal {
    -webkit-transform: translate(7px, 42px);
    -moz-transform: translate(7px, 42px);
    -ms-transform: translate(7px, 42px);
    -o-transform: translate(7px, 42px);
    transform: translate(7px, 42px);
}

@media (min-width: 768px) {
    .modal-fullscreen .modal-dialog {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .modal-fullscreen .modal-dialog {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .modal-fullscreen .modal-dialog {
        width: 1170px;
    }
}

a[data-toggle="modal"] {
    background: transparent;
    border: transparent;
    width: auto;
    height: auto;
}

a:active,
a:focus,
a:target,
.fa {
    border: none;
}

.close {
    opacity: .5;
    color: white;
}

.title-chart {
    font-weight: bold;
    margin-top: 20px;
}

.panel-body {
    padding-top: 0px;
}

.allh {
    height: 100%;
}

.mh,
.rh {
    height: 50%;
}

@media only screen and (min-width: 1200px) {
    .pr-100 {
        padding-right: 100px;
    }
    h1 {
        font-size: 6rem;
    }
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 767px) {
    .title-chart {
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 0px;
    }
    .qh {
        height: 25%;
    }
    .rh {
        height: 100%;
    }
    h1 {
        padding: 0px;
    }
    .estadisticas {
        padding: 0;
        margin: 0;
    }
    .intro {
        padding: 0 0 0 3%;
    }
    .autor {
        margin-bottom: 5px;
    }
    #legend th {
        font-size: 0.8rem;
    }
    #hashtag{
        font-size: 1.5rem;
    }
}
